body {
    font-family: sans-serif;
    background-color: #191d28;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 11vw;
    font-style: normal;
    text-align: center;
    color: #ddf4f8;
}

h2 {
    font-family: "Anonymous Pro", system-ui;
    font-size: 20pt;
    font-style: normal;
    text-align: center;
    color: #9fafb2;
    padding-left: 10vw;
    padding-right: 10vw;
}

p {
    font-family: "Anonymous Pro", system-ui;
    text-align: left;
    font-size: 12.5pt;
    color: #eee7e7;
    padding-left: 9vw;
    padding-right: 9vw;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    font-family: "Anonymous Pro", system-ui;
    background-color: rgba(41, 52, 68, 0.8);
    overflow: hidden;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #d3f1f1;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #252b36; /* Highlight option when cursor is hovering on it */
}

nav ul li a.active {
    background-color: #252b36; /* Highlight the current page link */
}

/* Mobile Styles */
@media (max-width: 600px) {
    nav ul {
        display: block; /* Stack nav items vertically */
        text-align: left; /* Align text to the left */
    }

    nav ul li {
        float: none; /* Remove float */
    }

    nav ul li a {
        padding: 10px; /* Adjust padding for mobile */
    }

    .container {
        padding: 10px; /* Adjust padding for mobile */
    }

    body {
        padding: 10px; /* Add padding to body for mobile */
    }

    h2 {
        font-size: 15pt;
    }

    p {
        font-size: 10pt;
    }
}

.header-bg {
    background-image: url('resources/TopGrad.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    position: relative;
}

.footer-bg {
    background-image: url('resources/BottomGrad.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    position: relative;
}

.no-wrap {
    white-space: nowrap;
}