body {
    font-family: Arial, sans-serif;
    background-color: #373549;
}

h1 {
    text-align: center;
    color: #e1e1e1;
}

p {
    text-align: center;
    color: #eee7e7;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: rotate3d(100, 100, 100, 90deg);
    }
}

.box {
    animation: slide 1s infinite alternate; /* Apply the animation */
}